@using FrameIncam.WebApi.Views.Emails.ResetPassword
@using FrameIncam.WebApi.Views.Shared
@model ResetPasswordEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
    ViewData["UserName"] = Model.Username;
    ViewData["clientUrl"] = Model.ClientUrl;
    ViewData["companyLogoPath"] = Model.CompanyLogoPath;
}

<p>
    Welcome to FrameInCam, India's first AI driven photographer discovery platform.
</p>
<p>
    Did you forget your password?
</p>

<br />

@await Html.PartialAsync("EmailButton", new EmailButtonViewModel("Reset Your Password", Model.ConfirmEmailUrl))

<br />
<p>
    This link will expire in 2 hours and can be used only once!
</p>
<br />
<p>
    If you don't want to change your password or didn't request this, please ignore and delete this message!
</p>

<br />

<p>
    Regards.<br />
    Shahin C K<br />
    Founder, C.E.O<br />
</p>