<!DOCTYPE html>
<html ng-app="app" debug>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Frame Incam</title>
    <base href="/"></base>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/colors/blue.css" />
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/ng.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <script src="assets/js/jquery.min.js"></script><script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="dist/lib.js"></script>
    <script src="dist/ng.js"></script>
    
    <script src="lib/selectize/dist/js/standalone/selectize.min.js"></script>
    <script src="assets/js/angular-selectize.js"></script>

</head>
<body class="reset-password" ng-controller="resetPasswordController" ng-cloak ng-init="init()">
    <section class="parallex-bg">
        <div class="container">
            <div id="login_signup">
                <div class="form_wrap_m">
                    <div class="white_box">
                        <div class="logo">
                            <img src="assets/images/FrameInCam_logo.png" width="70" height="40" alt="Frame In Cam" />
                        </div>
                        <h3>Reset Your<br />Password</h3>
                        <form name="resetPasswordForm" ng-submit="resetpassword(resetPasswordForm)" ng-validate="resetPasswordValidationOptions">
                            <div class="form-group">
                                <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Password" id="user_password">
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirmPassword" ng-model="user.confirmPassword" class="form-control" placeholder="Confirm Password" id="user_confirm_password">
                            </div>
                            <input type="hidden" name="email" ng-model="user.email" id="user_email">
                            <input type="hidden" name="token" ng-model="user.token" id="user_token">
                            <div class="form-group">
                                <div class="mt-2 mb-2 p-3 bg-danger" ng-if="errorMsgs && errorMsgs.length > 0">
                                    <div class="clear" ng-repeat="errorMsg in errorMsgs">
                                        <small class="text-white" ng-bind="errorMsg"></small>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-block" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>