<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" arguments="%LAUNCHER_ARGS%" />
      <rewrite>
        <rules>
          <rule name="AngularJS" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{URL}" pattern="(^.*customer\-signin$|^.*customer\-signup$|^.*vendor\-signin$|^.*vendor\-signup$|^.*\.(ashx|axd|css|gif|png|jpg|jpeg|js|flv|f4v|woff2)$)" negate="true" />
              <add input="{URL}" pattern="(^.*vendor-home.*$)" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule>
          <rule name="AngularJSVendorHome" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{URL}" pattern="(^.*customer\-signin$|^.*customer\-signup$|^.*vendor\-signin$|^.*vendor\-signup$|^.*\.(ashx|axd|css|gif|png|jpg|jpeg|js|flv|f4v|woff2)$)" negate="true" />
            </conditions>
            <action type="Rewrite" url="/vendor-home" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 70908da0-df00-4ef7-ab5d-96ef8d041995
<rule name="HTTPS rewrite behind ELB rule" stopProcessing="true">
			<match url="^(.*)$" ignoreCase="false" />
			<conditions>
			<add input="{HTTP_X_FORWARDED_PROTO}" pattern="^http$" ignoreCase="false" />
			</conditions>
			<action type="Redirect" redirectType="Found" url="https://{SERVER_NAME}{URL}" />
			</rule>
-->