<div class="customer-project-file-explorer">
    
        <fic-nano-gallery files="value" options="options">
            <!--<a ng-href="getFilePresentation(file)" data-ngthumb="{{getFileThumbnailPresentation(file)}}" class="d-block pull-left" tabindex="-1" ng-repeat="file in value">-->
                <!--<fic-customer-project-file-presentation ng-model="file" options="options" ng-disabled="isDisabled()" >
                </fic-customer-project-file-presentation>-->
            <!--</a>-->
        </fic-nano-gallery>
    
 </div>